.form {
    flex-basis: 550px;
    margin: 0 auto;
}

.fieldset {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(109, 152, 147);
    box-shadow: 5px 5px 200px 100px rgba(198, 185, 185, 0.846);
}

.fieldset__legend {
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(246, 246, 120);
    color: black;
    font-weight: bold;
}

.fieldset__paragraph {
    font-style: italic;
    text-align: right;
    font-size: small;
}

.fieldset__currency {
    align-items: left;
    max-width: 200px;
    display: inline-block;
}

.fieldset__button {
    background-color: rgb(246, 246, 120); 
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    max-width: 700px;
    margin: 10px;
    padding: 10px;
    margin-inline: 5px; 
    font-weight: bold;
    transition: background 0.3s;
}

.fieldset__button:hover {
    background-color: hsl(60, 32%, 44%);
    transition: 0.5s;
    scale: 1.05;
}

.fieldset__button:active {
    background-color: hsl(60, 43%, 47%);
    color: black;
    box-shadow: 4px 5px 6px gray;
    transition: 0.5s;
    scale: 1.08;
}

