
.fieldset {
    flex-basis: 550px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(109, 152, 147);
}

.fieldset__legend {
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(246, 246, 120);
    color: black;
    font-weight: bold;
}

.fieldset__paragraph {
    font-style: italic;
    text-align: right;
    font-size: small;
}

.fieldset__currency {
    align-items: left;
    max-width: 200px;
    display: inline-block;
}