html {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}

.body {
  background-image: url("../images/currency.jpg");
  opacity: .5;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-size: cover; 
  background-position: center;
}
